@import "tailwindcss";

@theme {
    --color-neon-green: #00ff9c;

    --font-heading: "Montserrat", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}

@variant dark (&:where(.dark, .dark *));

.glow {
    text-shadow: 
    0 0 6px rgba(0, 255, 156, 0.6),
    0 0 12px rgba(0, 255, 156, 0.4);
}